<div class="form-wrapper">
    <h2>Восстановление пароля</h2>
    <a class="logo" href="" title="logo"></a>
    <form>
        <div class="form-group">
            <label for="resMail">Введите email указанный при регистрации</label>
            <input type="email" class="form-control" id="resMail" aria-describedby="emailHelp"
                placeholder="Введите email" name="mail" required>
            <small class="form-text text-muted">На указанный email будет отправлено письмо с ссылкой для
                восстановления.</small>
        </div>

        <button type="submit" class="btn">Отправить</button>
    </form>
    <p class="link">Вернуться <a routerLink="/login" href="">назад</a>.</p>
</div>