<div class="content-container">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit facere cupiditate commodi repellat sit aperiam,
        eius corrupti provident, molestias possimus error nulla iure quae velit mollitia voluptatum voluptatibus nostrum
        eos cumque? Perferendis deserunt animi blanditiis temporibus possimus a hic repellat nesciunt molestias, quas
        vel dolores ullam expedita quia error quod veritatis? Dolores fuga molestias placeat quaerat omnis rem voluptas
        minima totam? Atque, praesentium voluptas sunt illo at saepe asperiores! Minima voluptate quos inventore
        accusamus porro.
    </p>
</div>